<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Vue Training</title>
  </head>
  <body class="bg-secondary">


    <div id="app">
       <div class="container">
           <div class="card mt-5">
               <h3 class="card-header">
                     {{ appTitle }}
               </h3>
               <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">fullName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                       v-for='( user, index) in users'
                       :key='index'
                       >
                       <td>
                           {{ user.id }}
                       </td>
                       <td>
                           {{ user.name }}
                       </td>
                       <td>
                           {{ user.email }}
                       </td>
                       <td>
                           {{ user.gender }}
                       </td>
                       <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-user" @click='edit(user)'>
                            edit
                          </button>
                           <button  class="btn btn-danger" @click='del(index)'>
                             hapus
                           </button>
                       </td>
                      </tr
                      >
                    </tbody>
                  </table>
               </div>
           </div>
       </div>
       <div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="" id="exampleModalLabel">edit {{ userUpdate.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" id="name" v-model='userUpdate.name'>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">email</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" id="email" v-model='userUpdate.email'>
                  </div>
                  <div class="form-group">
                    <label for="">gender</label>
                    <select class="form-control" id="gender" v-model='userUpdate.gender'>
                      <option v-for="(gender, index) in genders" :key='index'>
                          {{ gender }}
                      </option>
                    </select>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
    <script src="script.js"></script>
</body>
</html>